body,
head {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@media (min-width: 0px) and (max-width: 576px) {
  .logo {
    margin-left: 0px;
  }
  .logo img {
    height: 40px;
  }
  .head {
    height: 50px;
    justify-content: left;
  }
  .content {
    height: calc(100vh - 50px);
  }
  .head .menu-btn {
    width: 35px;
    display: flex;
  }

  .head .menu-btn img {
    width: 20px;
    margin: auto auto auto 8px;
  }

  .search {
    margin-left: auto;
    width: 144px;
  }

  .left {
    display: none;
  }

  .style {
    width: 100%;
  }

  .menu {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    background: #1d113f;
    display: none;
  }
}

/*
телефон: 0-576px
планшет: 576px-768px
комп:    768 - max

*/

@media (min-width: 576px) and (max-width: 768px) {
  .logo {
    margin-left: 8px;
  }
  .logo img {
    height: 60px;
  }
  .head {
    height: 70px;
  }
  .content {
    height: calc(100vh - 70px);
  }
  .search {
    margin-left: auto;
    width: auto;
  }
  .style {
    width: calc(100% - 80px);
  }
  .menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: 8px;
  }
  .logo img {
    height: 60px;
  }
  .head {
    height: 70px;
  }
  .content {
    height: calc(100vh - 70px);
  }
  .search {
    margin-left: auto;
    width: auto;
  }
  .style {
    width: calc(100% - 80px);
  }
  .menu {
    display: none;
  }
}

.head {
  background: #1d113f;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  background: #281857;
  height: 100%;
  width: 200px;
}

.content {
  display: flex;
  background: #5532b8;
}

.style {
  text-align: center;
  height: 100%;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
}

.search {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
  display: flex;
  height: 30px;
}

.search input {
  border-radius: 3px 0px 0px 3px;
  border-left: 3px solid #583cc6;
  border-top: 3px solid #583cc6;
  border-bottom: 3px solid #583cc6;
  border-right: none;
  background: #583cc6;
  outline: none;
  color: white;
  width: calc(100% - 30px);
}

.search input::placeholder {
  color: white;
}

.lins {
  background: transparent;
  height: 30px;
  width: 30px;
  border-radius: 0px 3px 3px 0px;
  border-color: white;
  display: flex;
  border-right: 3px solid #583cc6;
  border-top: 3px solid #583cc6;
  border-bottom: 3px solid #583cc6;
  box-sizing: border-box;
}

.margin {
  margin: auto;
}
.menu-item {
  background: transparent;
  color: white;
  border: 1px solid #281857;
  box-sizing: border-box;
  height: 32px;
  display: flex;
}
.menu-item span {
  margin: auto 0px auto 32px;
}
.menu-item.active {
  background: rgba(0, 0, 0, 0.33);
  position: relative;
}
.menu-item.active::before {
  position: absolute;
  content: "";
  top: 0;
  left: -1px;
  width: 5px;
  height: 100%;
  background-color: #5532b8;
}
.menu-item:hover {
  background: rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

/* .row {
  display: flex;
  justify-content: space-around;
}

.col {
  flex-grow: 1;
  margin: 8px;
} */
.color-col {
  color: white;
}
.br {
  text-align: justify;
  text-indent: 1.5em;
}
section {
  display: none;
}
.show {
  display: block;
}
.text-center {
  text-align: center;
}

#contacts iframe {
  width: 100%;
  border-radius: 5px;
  height: 400px;
}
.flex-start {
  justify-content: flex-start;
}
.col-margin {
  margin: 6px;
}
.backgr {
  background: rgba(0, 0, 0, 0.48);
  border-radius: 4px;
  margin-left: -8px;
}
.col-margin span {
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  margin: 8px;
}
.img-backgr {
  background: rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  padding: 8px;
}
.img-backgr img {
  border-radius: 5px;
}
.img-backgr div {
  color: white;
  text-align: right;
}
